@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('path/to/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('path/to/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Montserrat';
  src: url('path/to/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('path/to/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

nav {
  background-color: #ffffff;
  font-weight: 550;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 }

body {
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  background-color: #300a0a;
  text-align: center;
  padding: 150px;
  overflow-y: scroll;
}

nav-content {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;   
  transition: background-color 0.3s ease;
}

nav-content:hover { 
font-weight: bold;
border-radius: 5px;
padding: 10px;
background-color: rgb(63, 85, 255);
cursor: pointer;
}

nav-content:active {
  font-weight: bold;
  border-bottom: 5px solid #000000;
}

.signup-block {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #1c2b3a; /* dark blue */
  border-radius: 10px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.signup-block h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.signup-block p {
  margin-bottom: 20px;
  font-size: 14px;
}

.signup-block input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.signup-block button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-block button:hover {
  background-color: #333;
}